.footer-link a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  line-height: 35px;
}
.copyright {
  background-color:rgba(0, 0, 0, 0.842);
}

.dropdown-menu.show {
  left: -126px;
  padding: 11px;
}
.gradient{
    background-color: rgba(0, 0, 0, 0.774);
}